# User-specific files
*.swp
*.swo
*.DS_Store
*.xcuserdata/
*.xcuserstate

# Derived data
DerivedData/
build/

# Xcode-specific
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
Packages/
.swiftpm/
*.xcodeproj/project.xcworkspace/xcuserdata
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archive
*.xcarchive

# Other
*.log
*.moved-aside
*.xcdebugger/

# Bundler
.bundle/

